.checkbox-container {
    @apply flex cursor-pointer;
  
    .checkbox-input {
      @apply absolute opacity-0 cursor-pointer h-0 w-0;
    }
  
    .checkbox-border {
      content:'';
      -webkit-appearance: none;
      @apply bg-transparent;
      @apply border border-primary;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      @apply inline-block relative cursor-pointer mr-1;
      margin-right: 5px;
  
      .checkbox-filling {
        content: '';
        @apply block absolute h-2.5;
        top: 2px;
        left: 7px;
        width: 5px;
        @apply border-primary;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
  