
<div class="max-w-md mx-auto mt-4 text-center px-4 sm:px-8 py-10">
  <h3 class="text-xl font-semibold">OTP Verification</h3><br>
  <p class="text-xs text-white-600">Enter the 6-digit verification code that was sent to your phone number.</p>
</div>


<form id="otp-form">
  <div class="flex items-center justify-center gap-3">
  
      <input
          type="text"
          class="otp-input"
          pattern="\d*"
          maxlength="1" />
      <input
          type="text"
          class="otp-input"
          maxlength="1" />
      <input
          type="text"
          class="otp-input"
          maxlength="1" />
          <input
          type="text"
          class="otp-input"
          maxlength="1" />
          <input
          type="text"
          class="otp-input"
          maxlength="1" />
      <input
          type="text"
          class="otp-input"
          maxlength="1" />
  </div>
</form>
<div class="max-w-[260px] mx-auto mt-4 text-center">
  Didn't receive code? <a class="font-medium text-indigo-500 hover:text-indigo-600 resend-link" href="#0">Resend</a>
</div>



