<app-header></app-header>
<div
  class="sm:h-[70vh] flex flex-col relative !w-full h-full md:portrait:max-w-screen-lg md:landscape:max-w-xl sm:rounded-2xl bg-[#F7F8FF] sm:mx-auto sm:my-4 sm:border-2 sm:border-gray-100"
>
  <div
    class="flex flex-col items-center justify-center w-full h-full sm:h-[75vh]"
  >
    <div class="text-center">
      <div class="page-not-found-body">
        <span class="text-lg">
          {{ EspConstants.PAGE_NOT_FOUND | translate }}<br />
          <span style="font-size: 0.8em">
            {{ EspConstants.PAGE_DOES_NOT_EXIST | translate }}
          </span>
          <br />
          <span style="font-size: 0.8em">
            {{ EspConstants.CHECK_URL | translate }}
          </span>
        </span>
      </div>
    </div>
  </div>
</div>